@model HealthyRecipes.ViewModels.SetIngredientsViewModel
@{
    ViewData["Title"] = "Set Ingredients In Recipe";
}

<h2>Set Ingredients In Recipe</h2>
<hr />
<form asp-action="SetIngredientsInRecipe">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    Chose the Recipe you just created: <select asp-for="RecipeId" asp-items="Model.Recipes">
        <option value="">Select</option>
    </select>
    <br />

    <hr />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="IngredientIds" class="control-label">Ingredients</label>
                <select asp-for="IngredientIds" class="form-control js-example-basic-multiple" asp-items="Model.Ingredients">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-12">
            <hr />
            <input type="submit" value="Set Selected" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-controller="Recipes" asp-action="Index">Back to Recipes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#RecipeId").select2();
            $("#IngredientIds").select2();
        });
    </script>
}

